<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>country</key>
	<array>
		<dict>
			<key>countryName</key>
			<string>India</string>
			<key>state</key>
			<array>
				<dict>
					<key>stateName</key>
					<string>Gujarat</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Ahmedabad</string>
							<key>shortName</key>
							<string>Ahm</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Baroda</string>
							<key>shortName</key>
							<string>Bar</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Surat</string>
							<key>shortName</key>
							<string>Sur</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Maharastra</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Mumbai</string>
							<key>shortName</key>
							<string>Mum</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Pune</string>
							<key>shortName</key>
							<string>Pun</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Nagpur</string>
							<key>shortName</key>
							<string>Nug</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Rajasthan</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Jaipur</string>
							<key>shortName</key>
							<string>Jai</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Jodhpur</string>
							<key>shortName</key>
							<string>Jod</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Kota</string>
							<key>shortName</key>
							<string>Kot</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Punjab</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Amritsar</string>
							<key>shortName</key>
							<string>Amr</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Jalandhar</string>
							<key>shortName</key>
							<string>Jal</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Patiala</string>
							<key>shortName</key>
							<string>Pat</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>countryName</key>
			<string>United States</string>
			<key>state</key>
			<array>
				<dict>
					<key>stateName</key>
					<string>Ontario</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Points Edward</string>
							<key>shortName</key>
							<string>Ped</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Woodbridge</string>
							<key>shortName</key>
							<string>Wdb</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Taxas</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Columbus</string>
							<key>shortName</key>
							<string>Col</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Taxas City</string>
							<key>shortName</key>
							<string>Tax</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Weatherford</string>
							<key>shortName</key>
							<string>Wtf</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>countryName</key>
			<string>United Kingdom</string>
			<key>state</key>
			<array>
				<dict>
					<key>stateName</key>
					<string>Birmingham</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Ladywood</string>
							<key>shortName</key>
							<string>Lad</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Rubery</string>
							<key>shortName</key>
							<string>Rub</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Hockley</string>
							<key>shortName</key>
							<string>Hoc</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Cambridge</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Cambridge</string>
							<key>shortName</key>
							<string>Cam</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Ely</string>
							<key>shortName</key>
							<string>Ely</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Huntingdon</string>
							<key>shortName</key>
							<string>Hun</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>London</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Greenwich</string>
							<key>shortName</key>
							<string>Gre</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Victoria</string>
							<key>shortName</key>
							<string>Vic</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Wembley</string>
							<key>shortName</key>
							<string>Web</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Germany</string>
			<key>state</key>
			<array>
				<dict>
					<key>stateName</key>
					<string>Berlin</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Steinfeld</string>
							<key>shortName</key>
							<string>Ste</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Berlin</string>
							<key>shortName</key>
							<string>Ber</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Hamberg</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Berne</string>
							<key>shortName</key>
							<string>Ber</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Hamberg</string>
							<key>shortName</key>
							<string>Ham</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Sri Lanka</string>
			<key>state</key>
			<array>
				<dict>
					<key>stateName</key>
					<string>Columbo</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Dehiwala</string>
							<key>shortName</key>
							<string>Deh</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Homagama</string>
							<key>shortName</key>
							<string>Hom</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Galla</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Ambalagoda</string>
							<key>shortName</key>
							<string>Amd</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Galla</string>
							<key>shortName</key>
							<string>Gal</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Australia</string>
			<key>state</key>
			<array>
				<dict>
					<key>stateName</key>
					<string>Aukland</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Glenfield</string>
							<key>shortName</key>
							<string>Gle</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Milford</string>
							<key>shortName</key>
							<string>Mil</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Perth</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Cottesole</string>
							<key>shortName</key>
							<string>Cot</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Darch</string>
							<key>shortName</key>
							<string>Dar</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Mullaloo</string>
							<key>shortName</key>
							<string>Mul</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Melbourne</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Melbourne</string>
							<key>shortName</key>
							<string>Mel</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>South Oakleigh</string>
							<key>shortName</key>
							<string>Sok</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>stateName</key>
					<string>Queensland</string>
					<key>city</key>
					<array>
						<dict>
							<key>cityName</key>
							<string>Belmont</string>
							<key>shortName</key>
							<string>Bel</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>TownsVille</string>
							<key>shortName</key>
							<string>Tow</string>
						</dict>
						<dict>
							<key>cityName</key>
							<string>Victoria Point</string>
							<key>shortName</key>
							<string>Vic</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
